.section {
    .section__title1 {
        margin-top: 150px;

        // color: $form-color;

        font-size: 42px;

        text-align: center;

        text-decoration: line-through;
        // text-decoration-color: $form-color;
    }

    .info {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url("../img/travel-composition-with-magnifying-glass.jpg");
        background-position: 50% 50%;

        padding: 5rem;

        text-align: center;

        border-radius: 10px;

        .info__title {
            color: $link-hover;
        }

        .info__text {
            margin-top: 20px;

            color: $link-hover;

            text-align: center;
        }

        .info__link {
            color: $link-hover;

            text-align: center;

            text-decoration: none;
        }
    }
}

.popup {
    position: fixed;
    bottom: 0;
    right: 0;

    display: inline-block;

    width: 150px;
    height: 150px;

    text-align: center;
}

.section2 {
    background-color: $white-darken;
    border-radius: 10px;

    text-align: center;

    padding: 5rem;

    .section2__title {
        color: $form-color;

        font-size: 42px;

        text-align: center;

        text-decoration: line-through;
        text-decoration-color: $form-color;
    }

    .delivery__list {
        position: relative;

        display: inline-block;

        padding: 0;
        margin-left: 200px;

        list-style: none;

        background-color: $white;
        border-radius: 50%;

        width: 80px;
        height: 80px;
    }

    .delivery__img {
        width: 40px;
        height: 40px;

        position: absolute;
        top: 20px;
        right: 20px;
    }

    .delivery__list:nth-child(1) {
        margin-left: 0px;
    }

    .delivery-dis__lists {
        padding-left: 0;
        margin: 0 auto;
    }

    .delivery-dis__list {
        display: inline-block;

        margin-left: 60px;
    }

    .delivery-dis__list:nth-child(1) {
        margin: 0px;
    }

    .delivery-dis__text {
        color: $link-hover;
    }
}

.section3 {
    .section3__title {
        color: $form-color;

        font-size: 42px;

        text-align: center;

        text-decoration: line-through;
        text-decoration-color: $form-color;
    }

    .products-cards {
        .products__list {
            display: inline-block;

            list-style: none;

            margin-left: 20px;
        }

        .products__img {
            width: 250px;
            height: 150px;

            border-radius: 10px;
        }

        .products__img:hover {
            box-shadow: 0 6px 5px $shadow;

            cursor: pointer;
        }
    }
}

.section5 {
    .section5__title {
        color: $form-color;

        font-size: 42px;

        text-align: center;

        text-decoration: line-through;
        text-decoration-color: $form-color;
    }

    .contacts {
        padding: 10rem;

        text-align: center;

        color: $white;

        border-radius: 10px;

        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            url("../img/travel-composition-with-magnifying-glass.jpg");
        background-position: 50% 50%;

        a {
            text-decoration: none;

            color: $white;
        }

        .text__contacts {
            margin-top: 40px;
        }
    }
}

.section6 {
    .form {
        max-width: 1024px;

        margin: 0 auto;
        padding: 2rem;

        background-color: $link-hover;

        text-align: center;

        width: 400px;
        height: 500px;

        border-radius: 20px;

        color: $white;

        .form__user-data {
            background-color: $form-color;
            border-radius: 10px;
            border: none;

            width: 100%;
            height: 50px;
        }
    }
}